<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>畅远网络</title>
    <link rel="stylesheet" type="text/css" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/js" href="https://unpkg.com/vue/dist/vue.js">

</head>
<body>
  <template id="my-banner">

  <div class="swiper-container banner">
  <div class="swiper-wrapper">
  <div
  v-for = "banner in banners"
  :key="banner.id"
  class="swiper-slide"
  >
  <img width="100%" :src="banner.image" alt="">
  </div>
  </div>
  <div class="swiper-pagination"></div>
  </div>
  </template>

    <div class="container">
      <div class="col-md-6 col-md-offset-3"><img width="100%" src="/files/1.png" alt=""></div>
      <div class="col-md-6 col-md-offset-3"><img width="100%" src="/files/2.jpg" alt=""></div>
      <div class="col-md-6 col-md-offset-3"><img width="100%" src="/files/3.png" alt=""></div>
      <div class="col-md-6 col-md-offset-3"><img width="100%" src="/files/walking.jpeg" alt=""></div>
      <div class="col-md-6 col-md-offset-3"><img width="100%" src="/files/writing.jpg" alt=""></div>
        <div class="col-md-6 col-md-offset-3">
            <h1>畅远网络</h1>
            <div id="print-msg">
              <div>{{message}}</div>
            </div>
            <div id="print-list">
              <ol>
                <li v-for="todo in todos">
                  {{ todo.text }}
                </li>
              </ol>
            </div>

            <div id = "computed_props">
                千米 : <input type = "text" v-model = "kilometers">
                米 : <input type = "text" v-model = "meters">
            </div>
            <p id="info"></p>
            <!--反转字符串-->
            <div id="reverseMsgApp">
                <p>{{ message }}</p>
                <button v-on:click="reverseMessage">反转字符串</button>
            </div>
            <!--结束反转-->
            <br>
            <h3>可选套餐：</h3>
            <div id="checkbox-list">
              <p>单个复选框：</p>
              <input type="checkbox" id="checkbox" v-model="checked">
              <label for="checkbox">{{ checked }}</label>

              <p>地图认证：</p>
              <input type="checkbox" id="runoob" value="百度地图" v-model="checkedNames">
              <label for="runoob">百度地图</label>
              <input type="checkbox" id="google" value="腾讯地图" v-model="checkedNames">
              <label for="google">腾讯地图</label>
              <input type="checkbox" id="taobao" value="高德地图" v-model="checkedNames">
              <label for="taobao">高德地图</label>
              <br>
              <span>您的选择为: {{ checkedNames }}</span>
            </div>
            <div id="url-choice">
              <select v-model="selected" name="fruit">
                <option value="">请选择一个网站</option>
                <option value="www.runoob.com">百度</option>
                <option value="www.google.com">腾讯</option>
              </select>

              <div id="output">
                  您选择的网站是: {{selected}}
              </div>
            </div>

        </div>
    </div>
    <div id="app">
    <!--循环列表-->
    <div class="container">
        <div class="row">
          <a href="cart.html">购物车</a>
            <table class="table table-bordered table-hover">
                <caption style="caption-side:top" class="text-center text-danger">钱钱购物车</caption>
                <tr>
                    <th>全选<input type="checkbox" v-model="checkAll" @change="change"></th>
                    <td>商品</td>
                    <td>单价</td>
                    <td>数量</td>
                    <td>小计</td>
                    <td>操作</td>
                </tr>
                <tr v-for="(product,index) in products">
                    <!--click点击时 checkbox的状态还没改变 所以拿到的值总是相反的  遇到这种情况我们一般用change事件
                    change可以保证只当值变化后再触发函数-->
                    <!--页面一加载完要根据下面的checkbox的状态对全选的状态进行初始化-->
                    <td><input type="checkbox" v-model="product.isSelected" @change="checkOne"></td>
                    <!-- : 和 v-bind 等价，指令：动态绑定数据-->
                    <td><img :src="product.productImgUrl" :title="product.productName">{{product.productInfo}}</td>
                    <td>{{product.productPrice}}</td>
                    <!--v-model.number是为了保证在数据中的数值是number类型，因为不加.number在后台看见的数据是字符串的形式-->
                    <!--.number是让输入框的值编程数字类型-->
                    <!--.lazy当输入框失去焦点时才更新数据-->
                    <td><input type="number" min="1" v-model.number="product.productCount"></td>
                    <!--规范数据显示，用过滤器，原数据不变的情况下，只改变显示效果，在后面加 |（管道符） 和 规范方法-->
                    <td>{{product.productPrice*product.productCount | toFixed(2)}}</td>  <!--保留两位小数-->
                    <!--这里可以传索引来删除某一项，也可以直接传整项过去进行比较，但是这里并没有执行{}=={}，-->
                    <!--因为这里的product是指products中的某一个，引用的是一个空间地址，
                    这里做的比较就是比较两个的空间地址，并不是比较两个对象，因为两个对象之间是不能比较的，
                    因为两个对象存在于不同的空间地址-->
                    <td><button class="btn btn-danger" @click="remove(product)">删除</button></td>
                </tr>
                <tr>
                    <!--colspan合并单元格-->
                    <td colspan="6">
                        <!--但是这样写，数据一变化就会重新调用此函数，算出新结果，这样的写法性能不高-->
                        <!--它不会缓存上一次的结果 用computed可以解决这个问题-->
                        总价格：{{sum() | toFixed(2)}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </div>
<script src="/files/js/vue.js"></script>
<script src="/files/js/cus.js"></script>
<script src="./swiper.min.js"></script>
<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
<script src="https://cdn.bootcss.com/vue-resource/1.5.0/vue-resource.min.js"></script>
<script>
    // 只有当数据被使用在模板中，也就说， 数据更改之后会触发模板重新render的情况下，数据更改才会触发运行中阶段的两个钩子函数
    Vue.component ('my-banner', {
        template: '#my-banner',
        data () {
            return {
                banners: []
            }
        },
        methods: {
            getBanners () {
                this.$http.get('./banners.json').then(res => {
                    console.log(res.body.bannerList)
                    this.banners = res.body.bannerList
                    //在这里能动，但是不能滑过去
                    //因为在这里实例化的时候，页面中其实已经有了dom，但是还没有swiper-slide，刚刚更改完数据，dom还没有重新渲染ね
                    //而当dom宣布更新完成后，早已经实例化swiper结束了
                    // new Swiper('.banner')

                    Vue.nextTick (() => {
                        //在这里，banners改变后所引起的swiper-slide重新循环渲染已经结束了，页面中已经有了多个图片了
                        this.swiper = new Swiper('.banner',{
                            pagination:{el:'.swiper-pagination'}
                        })
                    })

                })
            }
        },
        created () {
            this.getBanners()
        },
        mounted () {
            //在这里，数据还没有获取到，所以页面中也没有swiper-slide，所以还是能滑但是滑步过去。
            // new Swiper('.banner')
        },
        beforeUpdate () {
            //在这里，数据虽然已经获取到了，数据已经更改了，但是dom还没有重新渲染，所以，依然没有swiper-slide，所以还是能滑但是滑步过去。
            // new Swiper('.banner')
        },
        updated () {
            //在这个地方也有一些隐患，如果有其他数据，当其他数据改变的时候，也会执行updated，相当于又一次实例化swiper
            // if(!this.swiper){
            //     this.swiper = new Swiper('.banner',{
            //         pagination:{el:'.swiper-pagination'}
            //     })
            // }
        },
        watch: {
            banners () {
                //这里也是只是数据变了，dom还没有
                // setTimeout(() => {
                    // new Swiper('.banner',{
                    //     pagination:{el:'.swiper-pagination'}
                    // })
                // }, 0);
            }
        },
        beforeDestroy () {
            delete this.swiper
        }
    })

    //nextTick 里面的回调函数，会在上一次的数据改变所引起的dom更新完成后触发
    // Vue.nextTick(callback)

    // new Swiper('.banner')

    new Vue ({
        el: '#app'
    })
</script>

<!--ajax要用到axios库，它和别的没有依赖关系，随便在哪里引用都可以-->
<!--基于promise的-->
<script src="/files/js/axios.js"></script>
<script>
    let vm = new Vue({
        el:'#app',
        filters:{  // 这里可以有很多自定义的过滤器
           toFixed(input,param1){   //要有返回值return    这里的this指向的是window  input是指 管道符前面的真实数值
               return '￥'+input.toFixed(param1); //param1是toFixed传递的参数
           }
        },
        methods:{
            getData(){ //初始化方法
                //then里面有两个函数参数，第一个函数表示成功，另一个函数表示失败，每个函数都有一个响应
                //这里有个错误，this指向问题，回调函数中的this都指的是window，所以要改成箭头函数的方式，不能写function的形式
                //then基于promise，解决回调问题
                //要在初始化数据这块对全选状态进行初始化
                axios.get("files/json/book.json").then(res=>{this.products = res.data;this.checkOne();},err=>{console.log(err)});
            },
            remove(product){  //product指当前点击的这一项
                this.products = this.products.filter(item=>item !== product);
            },
            checkOne(){//根据下面点击的结果控制上面全选的结果
                this.checkAll = this.products.every(item=>item.isSelected);
            },
            change(){//根据当前自己的状态设置其他的状态  实现全选和反选
                this.products.forEach(item=>item.isSelected = this.checkAll);
            },
            sum(){ //用reduce叠加
                return this.products.reduce((prev,next)=>{
                    if(! next.isSelected) return prev;  //如果当前没被选中，就不加当前这一项
                   return prev + next.productPrice*next.productCount;
                },0)
            }
        },
        //专门用来发送ajax的方法
        created(){//vue的aiax请求方法，在数据被初始化后调用，this指向指的也是vm实例，钩子函数
            this.getData();
        },
        data:{
            products:[],
            checkAll:true
        }
    });
</script>
<script>
new Vue({
  el: '#url-choice',
  data: {
  selected: ''
  }
})
</script>
<script>
new Vue({
  el: '#checkbox-list',
  data: {
    checked : false,
    checkedNames: []
  }
})
</script>
<script>
new Vue({
  el: '#reverseMsgApp',
  data: {
    message: '畅远网络'
  },
  methods: {
    reverseMessage: function () {
      this.message = this.message.split('').reverse().join('')
    }
  }
})
</script>

<script type = "text/javascript">
    var vm = new Vue({
    el: '#computed_props',
    data: {
        kilometers : 0,
        meters:0
    },
    methods: {
    },
    computed :{
    },
    watch : {
        kilometers:function(val) {
            this.kilometers = val;
            this.meters = this.kilometers * 1000
        },
        meters : function (val) {
            this.kilometers = val/ 1000;
            this.meters = val;
        }
    }
    });
    // $watch 是一个实例方法
    vm.$watch('kilometers', function (newValue, oldValue) {
    // 这个回调将在 vm.kilometers 改变后调用
    document.getElementById ("info").innerHTML = "修改前值为: " + oldValue + "，修改后值为: " + newValue;
})
</script>
</body>
</html>
